/* Here is your custom css styles. */
@media only screen and (max-width: 800px) {
  .container {
      width: 95%;
  }
  .carousel {
    width: 95%;
    height: 420px !important;
  }
}

/*中等屏幕下(平板类)的样式*/
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .container {
      width: 90%;
  }
  .carousel {
    width: 90%;
    height: 540px !important;
  }
}

/*大屏幕下(桌面类)的样式*/
@media only screen and (min-width: 1200px) {
  .container {
      width: 90%;
      max-width: 1125px;
  }
  .carousel {
    width: 80%;
    height: 720px !important;
  }
}

.carousel {
  margin: auto;
  margin-top: 10px !important;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #cccccc;
}

nav ul a {
  color: #333333 !important;
  font-weight: bold;
}

.dream .text {
  text-align: justify !important;
}